<section id="publications">
    <div class="container">
        <h3>Publications</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>TEO: Ephemeral Ownership for IoT Devices to Provide Granular Data Control.</strong> [ <a href="{{ site.baseurl }}assets/mobisys22-zhang.pdf">pdf</a>, <a href="https://github.com/synergylabs/TEO-release">Github</a> ]<br>
                    Han Zhang, Yuvraj Agarwal, Matt Fredrikson.<br>
                    To appear in the 20th ACM International Conference on Mobile Systems, Applications, and Services (<strong><i>MobiSys'22</i></strong>), June 2022.<br>
                </h5>
                <h5>
                    <strong>Demo: Protecting User Data through Ephemeral Ownership of IoT Devices.</strong> [ <a href="{{ site.baseurl }}assets/mobisys22-demo-zhang.pdf">pdf</a> ]<br>
                    Han Zhang, Yuvraj Agarwal, Matt Fredrikson.<br>
                    To appear in the 20th ACM International Conference on Mobile Systems, Applications, and Services (<strong><i>MobiSys'22</i></strong>), June 2022.<br>
                </h5>
                <h5>
                    <strong>Capture: Centralized Library Management for Heterogeneous IoT Devices.</strong> [ <a href="{{ site.baseurl }}assets/usenix21-zhang.pdf">pdf</a>, <a href="https://github.com/synergylabs/iot-capture">Github</a>, <a href="https://www.usenix.org/conference/usenixsecurity21/presentation/zhang-han">presentation</a> ]<br>
                    Han Zhang, Abhijith Anilkumar, Matt Fredrikson, Yuvraj Agarwal.<br>
                    30th USENIX Security Symposium (<strong><i>USENIX'21</i></strong>), August 2021.<br>
                </h5>
                <h5>
                    <strong>Netter: Probabilistic, Stateful Network Models.</strong> [ <a href="{{ site.baseurl }}assets/vmcai21-zhang.pdf">pdf</a>, <a href="https://github.com/arthuraa/netter">Github</a>, <a href="https://zenodo.org/record/4089060">artifact</a>, <a href="https://youtu.be/NKowPEtK4OY?t=8216">presentation</a> ]<br>
                    Han Zhang, Chi Zhang, Arthur Azevedo de Amorim, Yuvraj Agarwal, Matt Fredrickson, and Limin Jia.<br>
                    22nd International Conference on Verification, Model Checking, and Abstract Interpretation (<strong><i>VMCAI'21</i></strong>), January 2021.<br>
                </h5>
                <h5>
                    <strong>Towards Comprehensive Repositories of Opinions.</strong> [ <a href="{{ site.baseurl }}assets/hotnets16-zhang.pdf">pdf</a> ]<br>
                    Han Zhang, Kasra Edalat Nejad, Amir Rahmati, and Harsha V. Madhyastha.<br>
                    15th ACM Workshop on Hot Topics in Networks (<strong><i>HotNets'16</i></strong>), Atlanta, GA, November 2016.<br>
                </h5>
            </div>
        </div>
    </div>
</section>
