<section id="publications">
    <div class="container">
        <h3>Publications</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>Capture: Centralized Library Management for Heterogeneous IoT Devices.</strong> [ <a href="{{ site.baseurl }}assets/vmcai21-zhang.pdf">pdf</a>, <a href="https://github.com/synergylabs/iot-capture">Github</a> ]<br>
                    Han Zhang, Abhijith Anilkumar, Matt Fredrikson, Yuvraj Agarwal.<br>
                    <i>To appear at</i> 2021 USENIX Security Symposium.<br>
                </h5>
                <h5>
                    <strong>Netter: Probabilistic, Stateful Network Models.</strong> [ <a href="{{ site.baseurl }}assets/vmcai21-zhang.pdf">pdf</a>, <a href="https://github.com/arthuraa/netter">Github</a>, <a href="https://zenodo.org/record/4089060">artifact</a>, <a href="https://youtu.be/NKowPEtK4OY?t=8216">presentation</a> ]<br>
                    Han Zhang, Chi Zhang, Arthur Azevedo de Amorim, Yuvraj Agarwal, Matt Fredrickson, and Limin Jia.<br>
                    22nd International Conference on Verification, Model Checking, and Abstract Interpretation (<strong><i>VMCAI'21</i></strong>), January 2021.<br>
                </h5>
                <h5>
                    <strong>Towards Comprehensive Repositories of Opinions.</strong> [ <a href="{{ site.baseurl }}assets/hotnets16-zhang.pdf">pdf</a> ]<br>
                    Han Zhang, Kasra Edalat Nejad, Amir Rahmati, and Harsha V. Madhyastha.<br>
                    15th ACM Workshop on Hot Topics in Networks (<strong><i>HotNets'16</i></strong>), Atlanta, GA, November 2016.<br>
                </h5>
            </div>
        </div>
    </div>
</section>
